body{
    background-color: #2781C2;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto ;
    /* grid-template-rows: repeat(3,minmax(auto,auto)); */
    background-color: #195580;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.box {
    background-color: #0D2B40;
    gap: 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}

.box .box {
    background-color: rgba(195, 243, 195, 0.829);
    color:rgb(255, 255, 255);
}

.a {
    grid-column: 1/6;
    grid-row: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25pt;
}ul, ul li {
    font-family: Verdana;
    font-size: 12px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    position: absolute;
}

ul li {
    float: left;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: transparent #25b #25b #9ce;
}

ul a:link, ul a:visited {
    text-decoration: none;
    display: block;
    width: 95px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    background-color: #27c;
    color: #def;
    border-top: 10px solid #25b;
}

ul a:hover {
    background-color: #28e;
    color: #fff;
    border-top: 20px solid #26d;
}